{% set form_page = page.find(form_page_path|default('/')) %}
{# NB: form_name parameter can also be passed to this template #}
{% set forms_enabled = (config.plugins.form and config.plugins.form.enabled) %}

{% if form_page and form_page.forms %}
	{% set form_name = form_name ?? form_page.forms|keys|first %}
	{% if form_name in form_page.forms|keys %} {# make sure the form is actually on that page, because global forms() doesn't shoulder that risk #}
		{% set contact_form = forms(form_name) %}
	{% endif %}
{% endif %}

<section class="col-6 col-12-narrower">

{% if forms_enabled and contact_form is defined %}
	{{ include('forms/footer-contact.html.twig', {form: contact_form}) }}
{% else %}
	<h3>Get In Touch</h3>
	<form>
		<div class="row gtr-50">
			<div class="col-6 col-12-mobilep">
				<input type="text" name="name" id="name" placeholder="Name" />
			</div>
			<div class="col-6 col-12-mobilep">
				<input type="email" name="email" id="email" placeholder="Email" />
			</div>
			<div class="col-12">
				<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
			</div>
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" class="button alt" value="Send Message" /></li>
				</ul>
			</div>
		</div>
	</form>
{% endif %}
</section>
