{% if page.header.statement %}
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>{{ page.header.statement.heading }}</h2>
				<p>{{ page.header.statement.subheading }}</p>
			</header>
		</div>
	</section>
{% endif %}
