{% extends 'default.html.twig' %}

{% block body %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-4 col-12-narrower">
					{{ include('partials/sidebar.html.twig') }}
				</div>
				<div class="col-8  col-12-narrower imp-narrower">

					<div id="content">

						<!-- Content -->

							<article>
								{% block precis %}
									{{ parent() }}
								{% endblock %}

								{% block feature %}
									{{ parent() }}
								{% endblock %}

								{% block content %}
									{{ page.content|raw }}
								{% endblock %}

							</article>
					</div>

				</div>
			</div>
		</div>
	</section>
{% endblock %}
